a {
    text-decoration: none;
    color: firebrick;
}

body {
    background-color: azure;
    display: grid;
}

.grid-container {
    display: grid;
    grid-template-areas: 
    "head head"
    "nav  main"
    "foot foot";
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 70% 15%;
}

.head {
    grid-area: 'head';
    text-align: center;
    border: solid 1px black;
}

.top-text {
    font-family: 'Koulen';
    text-align: center;
    text-decoration: none;
    color: black;
    list-style-type: none;
    cursor: pointer;
}


.item {
    width: max-content;

}

.sidebar {
    display: flex;
    grid-area: 'nav';
    border: solid 1px black;
    align-items: center;
    flex-direction: column;
    padding-right: 10px;
    font-family: 'Radio Canada', sans-serif;

}




.card-deck {
    display: grid;
    grid-area: 'main';
    grid-template-columns:
        "item item";
    justify-items: center;
    gap: 10px;


}

.card {
    display:flexbox;
    font-family: 'Roboto Mono', monospace;
    margin-left: 10px;
    grid-area: "item";
    border: solid 1px grey;
    align-content: center;
}



.card-body {
    display: flex;
    flex-direction: row;
    border: solid 1px gray;
    line-height: 0.8;
    height: auto;
    text-justify: left;
    justify-content: bottom;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
}

.img {
    border-radius: 4px;
    height: 250px;
    width: 150px;
    margin-left: 15%;
    image-rendering: crisp-edges;
}

.button {
    color: aliceblue;
    display: block;
    width: auto;
    border: solid;
    background-color: blue;
    padding: 5% 5% 5% 5%;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

footer {
    border: solid grey 1px;
    grid-area: 'foot';
    min-height: 100%;
    
}


.icon-bar {

    display: flex;
    flex-direction: row;
    padding: 5%;

}